- @page_title = "Supported browsers and platforms"

%h2= @page_title

%h3 Desktop

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
    %col
  %tr.alt
    %th.browser= "Browser"
    %th.formats= "Supported formats"
  %tr
    %td.browser= "Internet Explorer 6, 7, 8"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr.alt
    %td.browser= "Internet Explorer 9, 10"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
          %td= "WebM*"
          %td
  %tr
    %td.browser= "Firefox < 3.5"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr.alt
    %td.browser= "Firefox 3.5, 3.6"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
          %td
          %td= "Ogg"
  %tr
    %td.browser= "Firefox ≥ 4"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
          %td= "WebM"
          %td= "Ogg"
  %tr
    %td.browser= "Chrome < 3"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr.alt
    %td.browser= "Chrome 3, 4, 5"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
          %td
          %td= "Ogg"
  %tr
    %td.browser= "Chrome ≥ 6"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
          %td= "WebM"
          %td= "Ogg"
  %tr
    %td.browser= "Opera < 10.5"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr.alt
    %td.browser= "Opera 10.5"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
          %td
          %td= "Ogg"
  %tr
    %td.browser= "Opera ≥ 10.6"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
          %td= "WebM"
          %td= "Ogg"
  %tr.alt
    %td.browser= "Safari"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr
    %td.browser= "Konqueror < 4.4"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr.alt.last
    %td.browser= "Konqueror ≥ 4.4"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
          %td
          %td= "Ogg"

* if VP8 codec installed

%h3 Mobile

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
    %col
  %tr.alt
    %th.browser= "Browser"
    %th.formats= "Supported formats"
  %tr
    %td.browser= "iPhone with iOS ≥ 3"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr.alt
    %td.browser= "iPad with iOS ≥ 3.2"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr
    %td.browser= "Android ≥ 2.1"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr.alt
    %td.browser= "Windows Phone ≥ 7"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr
    %td.browser= "BlackBerry ≥ 6"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr.alt
    %td.browser= "BlackBerry PlayBook ≥ 1"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
  %tr.last
    %td.browser= "webOS ≥ 1"
    %td.formats
      %table.formats
        %tr.labels
          %td= "MP4"
