- @page_title = "Supported browsers and platforms"

%h2= @page_title

%h3 Desktop

%table.supported_browsers.desktop
  %colgroup
    %col
    %col.alt
  %tr.alt
    %th.browser Browser
    %th.formats Supported formats
  %tr
    %td.browser Internet Explorer 6-8
    %td.flash.yes
      %table.formats
        %tr.labels
          %td{ colspan: 3 }= "MP4*"
  %tr.alt
    %td.browser Internet Explorer 9+
    %td.html5.yes
      %table.formats
        %tr.labels
          %td{ colspan: 3 }= "MP4"
  %tr
    %td.browser Firefox 3.6+
    %td.html5.yes
      %table.formats
        %tr.labels
          %td= "MP4*"
          %td= "WebM (4+)"
          %td= "Ogg"
  %tr.alt
    %td.browser Chrome 3+
    %td.html5.yes
      %table.formats
        %tr.labels
          %td= "MP4"
          %td= "WebM (6+)"
          %td= "Ogg"
  %tr
    %td.browser Opera 10.5+
    %td.html5.yes
      %table.formats
        %tr.labels
          %td= "MP4*"
          %td= "WebM (10.6+)"
          %td= "Ogg"
  %tr.alt
    %td.browser Safari 4+
    %td.html5.yes
      %table.formats
        %tr.labels
          %td{ colspan: 3 }= "MP4"
  %tr
    %td.browser Konqueror 4.4+
    %td.html5.yes
      %table.formats
        %tr.labels
          %td= "MP4"
          %td
          %td= "Ogg"

* requires the Flash Player plugin to be installed

%h3 Mobile

%table.supported_browsers.mobile
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th.platform Mobile platform (browser or device)
    %th.os OS version
    %th.formats Video playback support
    %th.features SublimeVideo design & features support
  %tr
    %td.platform Android (“Stock” Browser, Dolphin and other)
    %td.browser 1.x, 2.x
    %td.html5.yes MP4
    %td.empty
  %tr.alt
    %td.platform.empty
    %td.browser 3, 4.0
    %td.html5.yes MP4
    %td.html5.yes.partial
  %tr
    %td.platform.empty
    %td.browser 4.1+
    %td.html5.yes MP4
    %td.html5.yes.icon
      %span= "Yes"
  %tr.alt
    %td.platform Android (Chrome)
    %td.browser 4+
    %td.html5.yes MP4
    %td.html5.yes.icon
      %span= "Yes"
  %tr
    %td.platform Android (Firefox)
    %td.browser 2.x
    %td.html5.yes WebM
    %td.empty
  %tr.alt
    %td.platform.empty
    %td.browser 3.x
    %td.html5.yes WebM
    %td.html5.yes.partial
  %tr
    %td.platform.empty
    %td.browser 4+
    %td.html5.yes WebM
    %td.html5.yes.icon
      %span= "Yes"
  %tr.alt
    %td.platform Kindle Fire (Silk)
    %td.browser 1G, HD
    %td.html5.yes
      %table.formats
        %tr.labels
          %td MP4
    %td.html5.yes.partial
  %tr
    %td.platform iOS (iPhone)
    %td.browser < 4
    %td.html5.yes MP4
    %td.empty
  %tr.alt
    %td.platform.empty
    %td.browser 4+
    %td.html5.yes MP4
    %td.html5.yes.partial
  %tr
    %td.platform iOS (iPad)
    %td.browser < 4
    %td.html5.yes MP4
    %td.empty
  %tr.alt
    %td.platform.empty
    %td.browser 4
    %td.html5.yes MP4
    %td.html5.yes.partial
  %tr
    %td.platform.empty
    %td.browser 5+
    %td.html5.yes MP4
    %td.html5.yes.icon
      %span= "Yes"
  %tr
    %td.platform Windows Phone
    %td.browser < 7.5
    %td.html5.yes MP4
    %td.empty
  %tr.alt
    %td.platform.empty
    %td.browser 7.5+
    %td.html5.yes MP4
    %td.html5.yes.partial
  %tr
    %td.platform Windows RT (Tablets)
    %td.browser 8+
    %td.html5.yes MP4
    %td.html5.yes.icon
      %span= "Yes"
  %tr.alt
    %td.platform BlackBerry
    %td.browser
    %td.html5.yes MP4
    %td.empty
  %tr.last
    %td.platform Other Mobile
    %td.browser
    %td.html5.yes MP4
    %td.empty


  -#%tr.alt
  -#  %td.platform iPad with iOS ≥ 3.2
  -#  %td.formats
  -#    %table.formats
  -#      %tr.labels
  -#        %td= "MP4"
  -#%tr
  -#  %td.platform Android ≥ 2.1
  -#  %td.formats
  -#    %table.formats
  -#      %tr.labels
  -#        %td= "MP4"
  -#%tr.alt
  -#  %td.browser Windows Phone ≥ 7
  -#  %td.formats
  -#    %table.formats
  -#      %tr.labels
  -#        %td= "MP4"
  -#%tr
  -#  %td.browser BlackBerry ≥ 6
  -#  %td.formats
  -#    %table.formats
  -#      %tr.labels
  -#        %td= "MP4"
  -#%tr.alt.last
  -#  %td.browser BlackBerry PlayBook ≥ 1
  -#  %td.formats
  -#    %table.formats
  -#      %tr.labels
  -#        %td= "MP4"
