- @page_title = "Search results for “#{params[:q]}”"

%h2= @page_title

%ul
  - @results['results'].each do |doc|
    %li
      = link_to "#{Navigation.section_for_page(doc['docid'])}: #{doc['title']}", doc['docid']
