- @page_title = "Plan to Add-Ons Migration Information for Existing Customers"

%h2= @page_title

:textile
  As we have now moved to an #{link_to '"à la carte" pricing model', layout_url('pricing')}, existing users may be wondering how the introduction of the add-ons affects them.

  Don't worry - we have automatically activated or offered some add-ons for your sites depending on their plans. You don’t pay more than today but get even more value from SublimeVideo!

  Below are the full migration details for each plan:

  h4. Changes common to all plans

  * All sites now have *no limit in terms of video plays*.
  * The free #{link_to "Forum & email support", layout_url('modular-player#support')} add-on is included for all sites.
  * Add-ons prices are pro-rated by day so you only pay for the exact number of days you use a feature.
  * Invoices are issued and charged at the beginning of each month for the previous month (no more yearly billing period).

  h4. Users of the Free and Trial plans

  * No paid add-ons have been subscribed for your site, since add-ons subscription starts automatically after the first 30 days.
  * *You still pay nothing.*

  h4. Customers of the $9.90/month or $99/year Plus plan

  * *Unlimited video plays* instead of the previous 200,000 plays/month limit.
  * You've been subscribed to the #{link_to "No SublimeVideo logo", layout_url('modular-player#on_video_logo')} add-on: The SublimeVideo logo is removed from your videos playback for $9.90/month.
  * *We offer you the #{link_to "Real-time statistics", layout_url('modular-player#real_time_stats')} add-on*: You have access to real-time statistics for the entire life of your site, for free (instead of $9.90/month)!
  * If you were subscribed to the $99 Plus plan, your balance gets credited of the remaining days you already paid for. This balance will be automatically used to pay future invoices.
  * *You still pay $9.90/month.*

  h4. Customers of the $49.90/month or $499/year Premium plan

  * *Unlimited video plays* instead of the previous 1,000,000 plays/month limit.
  * You've been subscribed to the #{link_to "No SublimeVideo logo", layout_url('modular-player#on_video_logo')} add-on: The SublimeVideo logo is removed from your videos playback for $9.90/month.
  * You've been subscribed to the #{link_to "Real-time statistics", layout_url('modular-player#real_time_stats')} add-on: You have access to real-time statistics for $9.90/month.
  * *We offer you the #{link_to "VIP Email Support", layout_url('modular-player#support')} add-on*: You have access to professional-level email support (guaranteed response within the next business day) for the entire life of your site, for free (instead of $99.90/month)!
  * If you were subscribed to the $499 Premium plan, your balance gets credited of the remaining days you already paid for. This balance will be automatically used to pay future invoices.
  * *You now pay $19.90/month instead of $49.90/month.*
