- feed_name = stage?('beta') ? 'sublimevideo-releases-beta' : 'sublimevideo-releases'
= content_for :header, auto_discovery_link_tag(:atom, "http://feeds.feedburner.com/#{feed_name}")
- @page_title = "#{'Beta ' if stage?('beta')}Player Release Notes"

%h2= @page_title

- if stage?('stable')
  %p= raw "Don't miss the #{link_to "release notes for the new Player (in beta)", "http://docs.sublimevideo.net/beta/releases" } powered by SublimeVideo Horizon."

#releases
  - @releases.each do |release|
    - id = release.datetime.strftime("%Y-%m-%d-%H-%M")
    %h4{ id: id }
      - if stage?('beta')
        = link_to "##{id}" do
          = l(release.datetime, format: :long_without_time)
          %span.version= release.version
      - else
        = link_to l(release.datetime, format: :long), "##{id}"
    = release.content
