- feed_name = 'sublimevideo-releases'
- @page_title = 'Player Release Notes'

%h2= @page_title

#releases
  - @releases.each do |release|
    - id = release.datetime.strftime("%Y-%m-%d-%H-%M")
    %h4{ id: id }
      = link_to "##{id}" do
        = l(release.datetime, format: :long_without_time)
        - if release.version.present?
          %span.version= release.version
    = release.content
