%h2= "Documentation"
%p.sub= raw "Check out our #{link_to "Getting Started", page_path('quickstart-guide'), class: "hl"} and #{link_to "FAQ", page_path('player-faq'), class: "hl"} pages to start, and if you have any problems take a look at our #{link_to "Troubleshooting", page_path('troubleshooting'), class: "hl"} page."

.versions
  = link_to 'stable', root_path, class: params[:version] == 'stable' ? 'active' : nil
  = " | "
  = link_to 'beta', page_path(version: 'beta', page: 'quickstart-guide'), class: params[:version] == 'beta' ? 'active' : nil
