%h2= "Documentation"
%p.sub= raw "Start by checking out our #{link_to "Getting Started", '/quickstart-guide', class: "hl"} and #{link_to "FAQ", '/player-faq', class: "hl"} pages. If you you run into any problems, take a look at our #{link_to "Troubleshooting", '/troubleshooting', class: "hl"} page."
