%nav
  .search_form
    = form_tag '/search' do
      = label_tag "q", "" do
        %span= "Search"
      = text_field_tag :q, '', value: params[:q], placeholder: "Search", autocomplete: :off, class: "search"

  = display_menu

