- @page_title_prefix = "SublimeVideo #{"#{params[:stage].titleize} " if params[:stage] != 'stable'}Documentation"
- @body_class = params[:stage]
= content_for :javascript, sublimevideo_docs_include_tag

= content_for :header, render('layouts/header')

= content_for :content_menu, render('layouts/menu')

= render template: 'layouts/sublimevideo'
