- @page_title_prefix = "SublimeVideo Documentation"

= content_for :header do
  = render 'layouts/header'

= content_for :content_menu do
  = render 'layouts/menu'

= render template: 'layouts/sublimevideo'
