- @page_title_prefix = "SublimeVideo Documentation"

= content_for :javascript do
 = sublimevideo_loader_tag(:docs).html_safe
 = javascript_include_tag('application')

= content_for :header, render('layouts/header')

= content_for :content_menu, render('layouts/menu')

= render template: 'layouts/sublimevideo'
