- @page_title_prefix = "SublimeVideo #{"#{params[:stage].titleize} " if params[:stage] != 'stable'}Documentation"

= content_for :javascript, javascript_include_tag('application')

= content_for :header do
  #stages{ class: params[:stage] }
    .s_wrap
      - if params[:stage] == 'beta'
        %strong You’re reading the SublimeVideo Beta Documentation:
        = link_to 'Switch to the Stable documentation', root_path + '?new_stage=stable'
      - else
        %strong You’re reading the SublimeVideo Stable Documentation:
        = link_to 'Switch to the New Beta documentation', root_path + '?new_stage=beta'
  = render('layouts/header')

= content_for :content_menu, render('layouts/menu')

= render template: 'layouts/sublimevideo'
