- @page_title_prefix = "SublimeVideo #{"#{params[:stage].titleize} " if params[:stage] != 'stable'}Documentation"

= content_for :javascript do
 = sublimevideo_docs_include_tag

= content_for :header do
  #stages{ class: params[:stage] }
    .s_wrap
      - if params[:stage] == 'beta'
        You’re reading the
        %strong>= ' New SublimeVideo (beta) documentation'
        = '.'
        = link_to('View the Stable documentation', root_path + '?new_stage=stable') + '.'
      - else
        You’re reading the Stable documentation.
        We recommend that you check out the
        = link_to(root_path + '?new_stage=beta') do
          %strong>= 'New SublimeVideo (beta) documentation'
        = ' instead.'
  = render('layouts/header')

= content_for :content_menu, render('layouts/menu')

= render template: 'layouts/sublimevideo'
